@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Poppins", sans-serif;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background:
    linear-gradient(0deg ,rgb(0 0 0/50%) 30%,#0000 0 70%,rgb(0 0 0/100%) 0) 50%/8% 100%,
    linear-gradient(90deg,rgb(0 0 0/25%) 30%,#0000 0 70%,rgb(0 0 0/75% ) 0) 50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}
.loader::before,
.loader::after {
   content: "";
   grid-area: 1/1;
   border-radius: 50%;
   background: inherit;
   opacity: 0.915;
   transform: rotate(30deg);
}
.loader::after {
   opacity: 0.83;
   transform: rotate(60deg);
}
@keyframes l23 {
  100% {transform: rotate(1turn)}
}

/* animasi elemen */
/* Definisikan animasi dengan @keyframes */
@keyframes moveUpDown {
  0% {
    transform: translateY(0); /* Posisi awal */
  }
  50% {
    transform: translateY(-10px); /* Gerak ke atas */
  }
  100% {
    transform: translateY(0); /* Kembali ke posisi awal */
  }
}


/* Terapkan animasi ke elemen */
.ngambang1 {
  animation: moveUpDown 6s infinite; /* 2 detik, infinite untuk terus menerus */
}
.ngambang2 {
  animation: moveUpDown 7s infinite; /* 2 detik, infinite untuk terus menerus */
}
.ngambang3 {
  animation: moveUpDown 5s infinite; /* 2 detik, infinite untuk terus menerus */
}
.ngambang4 {
  animation: moveUpDown 8s infinite; /* 2 detik, infinite untuk terus menerus */
}

/* Membuat animasi rotasi */
@keyframes putar {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Styling untuk elemen yang akan berputar */
.putar {
  animation: putar 7s linear infinite;
}
.putar1 {
  animation: putar 9s linear infinite;
}

/* Loading */
/* HTML: <div class="loader"></div> */
.loader1 {
  width: 100%;
  aspect-ratio: 1;
  background:
    linear-gradient(to bottom right,#0000 calc(50% - 40px), #eaeaea 50%, #0000 calc(50% + 40px)) 
    bottom right/calc(200% + 80px) calc(200% + 80px);
  animation: l8 1.5s infinite ;
  bacground-repeat: no-repeat;
}
@keyframes l8 {
    100% {background-position: top left}
}

/* Gaya scrollbar vertikal */
.output::-webkit-scrollbar {
  width: 5px; /* lebar scrollbar */
}

/* Gaya thumb (handle) scrollbar */
.output::-webkit-scrollbar-thumb {
  background-color: #b1afaf; /* warna thumb */
  border-radius: 4px; /* bentuk thumb */
}

/* Gaya track (jalur) scrollbar */
.output::-webkit-scrollbar-track {
  background-color: #fff; /* warna track */
}

// result detection style
#content-container {

}

#content-container p {
  font-size: 16px;
}

#content-container ul {
  font-size: 15px;
  padding-left: 25px;
}

#content-container ul strong {
  font-weight: 600;
}

#content-container li {
  margin: 8px 0;
}

#content-container strong {
  font-weight: 600;
}

#content-container p strong {
  font-weight: 600;
}
